:root {
    /* FONTS */
    --font-dm-sans: 'DM Sans', sans-serif;

    /* COLORS */
    --bg-color: white;
    --bg-second-color: #969696;
    --subscribe-color: #000000;
    --subscribe-hover: #434343;
    --button-hover: #ccc;
    --hashtags-color: #818181;

    /* WIDTHS */
    --video-width: 1160px;
    --video-height: 640px;
}